# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.pyc
__pycache__
/*.zip
Dockerrun.aws.json=
deploy.sh
instance/
celerybeat-schedule
*.xz
/test.py
/test
/test2.py
/test_bi.py
testtttt.py
*.png
logger.txt
nginx/certs/
/test*.py
config/
staging_data/
fbmessenger/
venv/
!/models/intent2/
!/rasa_core_old/
!/rasa_core_sdk_old/
!/rasa_core/
!/rasa_core_sdk/
elastic-certificates.p12
./*.zip

.vscode/
/docker/

#nginx/docker-compose-local.yml
nginx/Dockerfile-dev
nginx/nginx-dev.conf

cense_actions/data/clinical_trial_data/*

models/core_models/*
models/intent/*
models/ner/*

tf_serving/models/ner/*
tf_serving/models/intent/*
tf_serving/models/yes_no_classifier/*
tf_serving/models/language_detection/*
tf_serving/models/symptoms/*
tf_serving/models/models.config
tf_serving/models/lang_detector
tf_serving/*.zip

cense_core/models/core_models/*
cense_core/models/core_models_others/*
cense_core/models/*.zip
cense_core/endpoints.yml

cense_models/models/intent/*
cense_models/models/ner/*
cense_models/models/others/*
cense_models/models/core_train/*
cense_models/models/test/*
cense_models/tf_serving/*
cense_models/data/dialogue/*
cense_models/models/Glove_WordVector.txt
cense_models/models/intent_object_pickle.pickle
cense_models/temp/*
cense_models/endpoints.yml
cense_models/config/
cense_models/nginx/certs/
cense_models/*.zip

/config/
cense_portal/common/CenseCred.json

cense_live_chat/deps/
cense_push_notifications/deps/
cense_video_conferencing_server/deps/
cense_analytics_reports/deps/

cense_live_chat/_build/
cense_push_notifications/_build/
cense_video_conferencing_server/_build/
cense_analytics_reports/_build/

!cense_live_chat/config/
!cense_push_notifications/config/
!cense_video_conferencing_server/config/
!cense_analytics_reports/config/
cense_training/models/Glove_WordVector.txt
cense_training/models/intent
cense_training/models/ner
cense_training/data/dialogue/*
cense_training/models/core_train/*
cense_training/models/test/*
cense_training/config/
cense_training/temp/*
cense_training/endpoints.yml
scripts
